# Python virtual environments
.venv/
venv/
ENV/

# Python cache and build
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# VSCode workspace
.vscode/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Data: ignore by default, but keep Taillard JSSP dataset
data/
!data/.gitkeep
!data/taillard_jssp/**
